/* Styling for the dropdown menu */
.dropdown-menu {
    padding: 8px 0;
    border: 2px solid darkgrey;
    border-radius: 8px;
    transition: border-color 0.3s ease, border-radius 0.3s ease;
  }
  
  /* Styling for dropdown menu items */
  .dropdown-item {
    padding: 20px 12px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #e0e0e0;
  }
  