.footer {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, #3004a1, #f03434);
  color: white;
  padding: 50px 10%;
  text-align: center;
}

.footer-nav a {
  margin: 0 15px;
  color: white;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #ffeb3b;
}

.contact-info h2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
}

.contact-info p {
  margin: 5px 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.social-media a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
}

.logo-footer h1 {
  font-weight: 800;
  margin-bottom: 5px;
}

.logo-footer h3 {
  font-weight: 200;
}

.social-media {
  padding-top: 20px;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .content-footer {
    display: flex;
    align-items: center;
  }
  .contact-info {
    margin-left: 50px;
    text-align: left;
  }
}
